@import '../../styles/variables.css';

.yh-header {
  height: var(--yh-header-height);
  background: var(--yh-header-bg);
  color: var(--yh-header-color);
  border-radius: var(--yh-radius) var(--yh-radius) 0 0;
  font-family: var(--yh-font-family);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
}

/* 预留头部高度 */
.yh-home-main-scrollable {
  margin-top: var(--yh-header-height);
}
.yh-header-title {
  font-size: 18px;
  font-weight: 600;
}
.yh-header-subtitle {
  font-size: 12px;
  margin-left: 8px;
  color: #e0e0e0;
}
